- if @college.custom
  = render "colleges/partials/#{@partial}"
- else
  :sass
    body
      background-color: #{@college.background_color}

    h1, h2, h3, h4, h5
      color: #{@college.headings_color}

    p
      color: #{@college.text_color}
      
  .container#page
    .row
      %h1= @college.name
      = image_tag('header-break.png')
      %p
        = @college.website
        = @college.city
        = @college.state
        = @college.mascot
        = @college.conference.name

      %p
        = render 'social'

    .row
      %h2 Tuition
      = render 'tuition'

    .row
      %h2 Sports
      = render 'sports'

    .row
      %h2 Links
      = render 'links'