- if @college.custom
  = render "colleges/partials/#{@partial}"
- else
  .container
    %h1= @college.name
    %p
      = @college.website
      = @college.city
      = @college.state
      = @college.mascot
      = @college.conference.name