- if @college.custom
  = render "colleges/partials/#{@partial}"
- else
  :sass
    body
      background-color: #{@college.background_color}

    h1, h2, h3, h4, h5
      color: #{@college.headings_color}

    
      
  .container#page
    .row
      .col-lg-12
        %h1= @college.name
        = image_tag('header-break.png')
        %p
          = @college.website
          = @college.city
          = @college.state.name
          = @college.mascot
          = @college.conference.name

        %p
          = render 'social'

    .row
      .col-lg-12
        = render 'navigation'

    .row
      .col-lg-6
        %h1 Location
        #map

    

    .row
      .col-lg-12
        %h3 Sample Text
        %p
          Bacon ipsum dolor sit amet strip steak short loin short ribs ham, pork kielbasa ground round. Short ribs sausage ball tip pig chuck. Pork loin shankle short loin t-bone, chuck drumstick kevin chicken sirloin turducken cow tongue bacon filet mignon boudin. Biltong turducken pork loin, chuck ball tip boudin ground round brisket spare ribs t-bone pancetta kielbasa tenderloin chicken strip steak. Andouille sirloin chuck, tongue turducken tenderloin salami strip steak short loin rump. Chicken ground round leberkas pancetta andouille shank biltong, short loin beef pork loin fatback beef ribs ribeye shankle.

    .row
      %h2 Tuition
      = render 'tuition'

    .row
      %h2 Sports
      = render 'sports'

    .row
      .col-lg-12
        %h2 Awards
        = render 'awards'

    .row
      %h2 Links
      = render 'links'

  :coffee
    $("#map").goMap
      zoom: 12
      maptype: "ROADMAP"
      address: "#{@college.name}"

    $.goMap.createMarker address: "#{@college.name}"