!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .row
      .nav
        #logo.pull-left
          = link_to "Better Education", root_path
        .pull-right
          = render 'shared/navigation'
      .container#content
        = yield

      .footer
        = render 'shared/footer'